@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html body {
  display: flex;
  flex-direction: column;
  background-color: #0a0a08;
}

.nav {
  width: 100%;
  height: 3.5vw;
  background-color: #ff6700;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav a {
  text-decoration: none;
  color: #0a0a08;
  list-style: none;
  margin: 0 2vw;
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.nav .pi {
  justify-self: flex-start;
}

.carousel-inner {
  height: 45vw !important;
  /* height: fit-content !important; */
}

.carousel-inner .cimg{
  width: 20vw;
}

.main {
  color: #5638ff;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5vw 10% 0 10%;
  font-size: 2rem;
}

.main span {
  color: #ff10f0;
}

.main .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}

.main .txt p {
  color: #4bf0fc;
  font-size: 1.25rem;
}

.main .txt {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.main .img img {
  width: 30vw;
  border-radius: 50%;
}

hr {
  background-color: #525252 !important;
  z-index: -1;
}

.pi {
  display: flex;
  align-items: center;
}

.pi .piimg img {
  width: 17.5vw;
  margin: 5vw 0 5vw 5vw;
}

.pi .equal img {
  width: 10vw;
}

.pi .digits h1 {
  color: #bc13fe;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 3rem;
}

.pi .digits p {
  color: antiquewhite;
  font-size: 1.35rem;
}

.periodic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.periodic h1 {
  font-size: 3rem;
}

.periodic .p1 {
  display: flex;
  color: #ffffff;
  line-height: 14px;
}

.periodic .p1 p {
  margin-bottom: 0;
  font-size: 0.8vw;
}

.periodic .p1 h1 {
  margin-bottom: 0;
}

.periodic .p1 p.name {
  align-self: center;
}

.p1 .h {
  border: #4bf0fc 2px solid;
  width: 4.5vw;
  height: 4.5vw;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px;
}

.p1 .h h1 {
  align-self: center;
  font-size: 1.7vw;
}

.p1 .empty {
  border: #ffffff00 2px solid;
  flex-direction: row;
  justify-content: space-around;
}

.p1 .empty p {
  align-self: flex-end;
  font-size: 2vw;
}

.p1 .onm{
  border-color: #ff4747;
  transition: .3s;
}

.p1 .onm:hover{
  background-color: #ff4747;
}

.p1 .am{
  border-color: #FFFF00;
  transition: .3s;
}

.p1 .am:hover{
  background-color: #FFFF00;
  color:#0a0a08;
}

.p1 .aem{
  border-color: #ff8758;
}

.p1 .halo{
  border-color: #39ff14;
}

.p1 .om{
  border-color: #ff3af2;
}